@font-face {
  font-family: 'Exo2';
  src: url('../fonts/exo2light.woff2') format('woff2'),
    url('../fonts/exo2light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/exo2.woff2') format('woff2'),
    url('../fonts/exo2.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/exo2medium.woff2') format('woff2'),
    url('../fonts/exo2medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/caviardreams.woff2') format('woff2'),
    url('../fonts/caviardreams.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/caviardreamsbold.woff2') format('woff2'),
    url('../fonts/caviardreamsbold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/caviardreamsbolditalic.woff2') format('woff2'),
    url('../fonts/caviardreamsbolditalic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Corinthia';
  src: url('../fonts/corinthia.ttf') format('truetype'),
    url('../fonts/corinthia.woff') format('woff'),
    url('../fonts/corinthia.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}