html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Exo2', sans-serif;
  font-size: 18px;
  background-color: #170735;
  color: #0D030E;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1460px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;

  &--fluid {
    max-width: 1920px;
    padding: 0;
  }
}

.title {
  display: inline;
  position: relative;
  font-family: "Corinthia";
  text-decoration: none;
  font-size: 92px;
  line-height: 100%;
  color: #fff;
  font-weight: 400;

  span {
    position: absolute;
    display: block;
    font-family: 'Caviar Dreams';
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    text-decoration: underline;
    color: #944CA2;
  }
}