@import "vars";
@import "global";
@import "fonts";
@import "buttons";
@import "clock";
@import "social";
@import "sliders";
@import "cards";

.intro-wrapper {
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: -40px -70px;
}

/*start header===============*/
.header {
  padding: 15px 0 0 0;
  color: #fff;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 9999;
    width: 190px;
    height: 90px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-btn {
    display: none;
  }

  &__list {
    margin: 0 0 0 61px;
    display: flex;
    font-size: 20px;

    li+li {
      margin: 0 0 0 40px;
    }

    a {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 1px;
        width: 0;
        background-color: #FFFFFF;
        transition: linear .2s;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    a.visited {
      &::before {
        width: 100%;
      }
    }
  }

  &__social {
    display: none;
  }

  &__info {
    position: relative;
    z-index: 9999;
    margin-left: auto;
    display: flex;
    align-items: center
  }

  &__user {
    margin: 0 25px 0 0;

    span {
      display: block;
      margin: 0 14px 0 0;
    }
  }

  &__basket {
    position: relative;
    width: 44px;
    height: 41px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    span {
      position: absolute;
      bottom: -1px;
      left: -6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: 1px solid #944CA2;
      border-radius: 50%;
      background-color: #fff;
      font-size: 16px;
      color: #0D030E;
    }
  }
}

/*end header=================*/

/*start intro====================*/
.intro {
  color: #fff;
  overflow: hidden;
  padding: 0 0 72px 0;

  &__inner {
    display: flex;
  }

  &__left {
    position: relative;
    z-index: 1;
    margin: 235px 0 0 0;
    min-width: 680px;
  }

  p {
    font-family: 'Caviar Dreams';
    font-size: 52px;
    line-height: 53px;
  }

  p+p {
    margin: 0 0 85px 0;
    font-size: 25px;
    line-height: 42px
  }

  &__btn {
    margin: 0 0 127px 0;
    padding: 19px 32px;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__right {
    margin: -46px 0 0 -115px;
  }

  &__img {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -87px;
      right: -51px;
      width: 91%;
      height: 61%;
      z-index: 1;
      background-image: url("../images/dest/content/main/fog.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__link {
    position: absolute;
    top: 49%;
    left: 55%;
    transform: translate(-50%, -50%);

    img {
      transition: linear .2s;
    }

    &:hover {
      img {
        transform: scale(1.1);
        opacity: .9;
      }
    }
  }

  &__link-text {
    position: relative;
    font-family: 'Corinthia';
    text-decoration: none;
    font-size: 80px;
    color: #0D030E;

    span {
      position: absolute;
      top: 6px;
      right: -30px;
      display: block;
      font-family: 'Caviar Dreams';
      font-weight: 700;
      font-style: italic;
      font-size: 25px;
      text-decoration: underline;
    }
  }

  &__timer {
    margin: -145px -41% 0 0;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  &__start {
    margin: -38px 0 0 140px;
  }
}

/*end intro====================*/

/*start experts===========*/
.experts {
  padding: 0 0 108px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    span {
      top: 10px;
      right: -76px;
    }
  }

  &__all {
    margin: 3px 66px 0 0;
    font-weight: 500;
    color: #944CA2;
    font-size: 19px;
    text-transform: uppercase;
    transition: linear .2s;

    &:hover {
      color: #fff
    }
  }

  &__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -93px;
      left: -131px;
      background-image: url("../images/dest/content/experts/balance.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 215px;
      height: 215px;
    }
  }

  &--service {
    margin: 0 0 20px 0;
    padding: 0;

    .experts__title {
      color: #0D030E;

      span {
        top: 14px;
        right: 3px;
      }
    }

    .experts-service__info {
      margin: 10px 0 10px;
    }

    .experts-service__inner {
      padding: 35px 35px 25px 35px;
      background-color: #fff;
    }

    .experts__inner::before {
      display: none;
    }

    .card {
      border: 3px solid transparent;

      &:hover {
        border-color: #944CA2;
      }
    }

    .card__name {
      color: #0D030E;
    }

    .card__btn {
      color: #944CA2;
    }

    .card__img {
      margin: 0 0 25px 0;
      height: 388px;
    }

    .card__btn {
      display: block;
      margin: 0 0 15px 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .slider-experts .next {
      right: 46px;
      top: -117px;
    }

    .prev {
      top: -114px;
      right: 10px;
    }
  }
}

/*end experts===========*/

/*start service=============*/
.service {
  padding: 0 0 100px 0;
  overflow: hidden;

  .experts__title span {
    right: -24px;
  }

  &__inner {
    position: relative;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      top: -134px;
      left: -28%;
      background-image: url("../images/dest/content/service/service-1.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 454px;
      height: 845px;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 999;
  }

  &__slider-wrapper {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -175px;
      right: -204px;
      width: 400px;
      height: 432px;
      background-image: url("../images/dest/content/service/service-2.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -62px;
      right: -56px;
      width: 107px;
      height: 107px;
      background-image: url("../images/dest/content/service/service-3.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: -1;
    }
  }
}

/*end service=============*/

/*start product===============*/
.product {
  padding: 70px 0 45px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title span {
    right: -43px;
    top: 6px;
    z-index: 1;
  }

  &__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -132px;
      left: -158px;
      z-index: -1;
      width: 290px;
      height: 290px;
      background-image: url("../images/dest/content/product/product-1.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

    }
  }

  &__all {
    margin: 0 66px 17px 0;
    font-weight: 500;
    color: #944ca2;
    font-size: 19px;
    text-transform: uppercase;
    transition: linear .2s;

    &:hover {
      color: #fff;
    }
  }
}

/*end product===============*/

/*start news=========*/
.news {
  overflow: hidden;
  padding: 45px 0 40px 0;

  .product__top {
    margin: 0 0 10px 0;
  }

  .title span {
    right: -47px;
    top: 8px;
    z-index: 1;
  }

  .product__all {
    margin: 0 75px 0px 0;
  }

  &__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -143px;
      left: 114px;
      z-index: -1;
      width: 215px;
      height: 247px;
      background-image: url("../images/dest/content/news/news-1.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .card-universal__link:hover {
    text-decoration: underline
  }
}

/*end news=========*/

/*start subscribe======*/
.subscribe {
  position: relative;
  background-repeat: no-repeat;
  background-size: 82%;
  background-position: -119% 20%;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -37%;
    z-index: -1;
    width: 625px;
    height: 697px;
    background-image: url("../images/dest/content/subscribe/subscribe-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }


  &__inner {
    position: relative;
    padding: 30px 0 115px;

    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: -13%;
      z-index: -1;
      width: 405px;
      height: 322px;
      transform: rotate(20deg);
      background-image: url("../images/dest/content/subscribe/subscribe-2.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

  }

  &__title {
    span {
      right: 63px;
      top: 16px;
      z-index: -1;
    }
  }

  &__subtitle {
    margin: 10px 0 60px 0;
    font-size: 18px;
    color: #fff;
  }


  &__form-inner {
    display: flex;
  }

  &__form-input-wrap {
    max-width: 595px;
    width: 100%;

    overflow: hidden;

    input {
      padding: 16px 15px;
      border: 1px solid #944CA287;
      border-radius: 27px;
      outline: none;
      width: 100%;

      &::placeholder {
        font-size: 18px;
        line-height: 100%;
        color: #D3CAFF;
      }
    }
  }

  .subscribe__form-input-wrap+.subscribe__form-input-wrap {
    margin: 0 15px 0 30px;
  }

  &__btn {
    padding: 15px 24px;
    margin: 0 0 0 auto;
    outline: none;
    border: none;
  }

  &__box {
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    color: #944CA2;
    cursor: pointer;
  }

  &__check {
    position: relative;
    display: block;
    margin: 0 10px 0 0;
    max-width: 18px;
    min-width: 18px;
    max-height: 18px;
    min-height: 18px;
    border-radius: 4px;
    border: 1px solid #944CA2;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 2px;
      width: 12px;
      height: 9px;
      background-image: url("../images/dest/icons/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0;
      transition: linear .1s;
    }
  }

  .subscribe__form.active {
    .subscribe__check::before {
      opacity: 1;
    }
  }
}

/*end subscribe======*/

/*start catalog-sevices=========*/
.title-wrap {
  display: flex;
  justify-content: center;
}

.catalog-title {
  margin: 44px 0 -11px;

  span {
    top: 8px;
    right: -20px;
  }
}

.catalog-sevices {
  padding: 6px 0 170px;

  &__list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 57px -15px;
    flex-wrap: wrap;

    li {
      flex-basis: calc(25% - 15px);
      margin: 0 0 20px 15px;
      border: 3px solid transparent;

      &:hover {
        border-color: #8374D5;
      }
    }

    a {
      display: block;
      background-color: #fff;

    }

    h3 {
      min-height: 80px;
      padding: 10px;
      font-family: 'Caviar Dreams';
      font-size: 26px;
      font-style: italic;
      text-align: center;
    }
  }

  &__img {
    height: 208px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*end catalog-sevices=========*/

/*start category-sevices=========*/
.service-category {
  background-image: url("../images/dest/content/page-before.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -24% 71%;

  &__inner {
    padding: 14px 0 170px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 31px -15px;
    flex-wrap: wrap;

    li {
      background-color: transparent;
      flex-basis: calc(33.33333% - 15px);
      margin: 0 0 20px 15px;
      border: 3px solid transparent;

      &:hover {
        border-color: #8374D5;
      }
    }
  }
}

/*end category-sevices=========*/

/*start experts-all============*/
.all-experts-title {
  margin: 44px 0 -11px;

  span {
    top: 8px;
    right: -79px;
  }
}

.experts-all {
  background-image: url("../images/dest/content/page-before.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -24% 71%;

  &__inner {
    padding: 6px 0 170px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 12px -15px;
    flex-wrap: wrap;

    li {
      flex-basis: calc(25% - 15px);
      margin: 0 0 20px 15px;
      border: 3px solid transparent;

      &:hover {
        border-color: #8374D5;
      }
    }
  }
}

/*end experts-all============*/

/*start products-all=============*/
.products-all-title {
  margin: 44px 0 -11px;

  span {
    top: 8px;
    right: -37px;
  }
}

.products-all {

  background-image: url("../images/dest/content/page-before.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -24% 71%;

  &__inner {
    padding: 6px 0 170px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 30px -15px;
    flex-wrap: wrap;

    li {
      flex-basis: calc(25% - 15px);
      margin: 0 0 20px 15px;
      border: 3px solid transparent;

      &:hover {
        border-color: #8374D5;
      }
    }
  }
}

/*end products-all=============*/

/*start product-card================*/
.card-info {
  margin: 0 0 35px 0;

  &__inner {
    display: flex;
  }

  &__left {
    width: 420px;
  }

  .slider-card__top-item {
    position: relative;
    width: 100%;
    height: 533px;
    background-size: 68%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .slider-card__bottom {
    margin: 15px 0 0 0;

    .slick-slide {
      margin: 0 5px;
    }
  }

  .slider-card__bottom-item {
    background-color: #fff;
    width: 200px;
    height: 66px;

    img {
      margin: 5px auto 0;
      width: 80%;
      height: 80%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__right {
    max-width: 985px;
    width: 100%;
    padding: 19px 37px 40px 25px;
    background-color: #fff;
    margin: 0 0 0 15px;
  }

  &__title {
    margin: 0 0 10px 0;
    font-family: 'Caviar Dreams';
    font-size: 50px;
    line-height: 53px;
    font-weight: 700;
    font-style: italic;
  }

  &__articl {
    margin: 0 0 13px 0;
    display: flex;
    color: #944CA2;

    span {
      display: block;
      margin: 0 0 0 10px;
      color: #0D030E;
    }
  }

  p {
    margin: 0 0 57px 0;
    font-size: 18px;
    line-height: 25px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom-right {
    display: flex;
    align-items: center;
  }

  &__price {
    font-family: 'Caviar Dreams';
    margin: 0 0 0 20px;

    s {
      font-size: 20px;
      line-height: 33px;
      color: #944CA2;
    }

    strong {
      display: block;
      font-size: 30px;
      line-height: 33px;
    }
  }

  button.btn {
    margin: 0 40px 0 0;
    outline: none;
    border: none;
    background-image: linear-gradient(to bottom, #D3CAFF 0%, #8374D5 50%, #8374D5 100%);
  }

  a.btn {
    padding: 15px 24px;
  }
}

.card-review {
  margin: 0 0 80px 0;

  .title {
    color: #0D030E;

    span {
      top: 15px;
      right: -14px;
    }
  }

  &__wrap {
    margin: 0 0 40px 0;
    padding: 35px 30px 10px 37px;
    background-color: #fff;
  }

  &__subtitle {
    margin: -5px 0 30px;
    display: block;
  }

  &__list {
    span {
      display: block;
      margin: 0 0 3px 0;
      color: #944CA2;
      font-size: 14px;
      line-height: 27px;
      font-weight: 300;
    }

    ul {
      margin: 4px 0 0 94px;
    }

    p {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__comment {
    margin: 0 0 13px 0;
    padding: 0px 0 15px 0;
    border-bottom: 1px solid #944CA2;
  }

  &__name {
    margin: 0 0 3px 0;
    font-size: 23px;
    line-height: 27px;
  }

  &__subcomment {
    border-top: 1px solid #D3CAFF;
    padding: 13px 0 0 0;
  }
}

/*start leave-review=============*/
.leave-review {
  &__inner {
    padding: 32px 30px 41px 34px;
    background-color: #fff;
  }

  &__title {
    color: #0D030E;

    span {
      top: 14px;
      right: 0;
    }
  }

  &__subtitle {
    margin: -5px 0 40px;
    display: block;
  }

  &__form.active {
    .leave-review__check::before {
      opacity: 1;
    }
  }

  &__form-inner {
    margin: 0 0 15px 0;
    display: flex;
  }

  &__input-wrap {
    max-width: 450px;
    width: 100%;

    input {
      padding: 16px 15px;
      border: 1px solid #944CA287;
      width: 100%;
      background-color: #D3CAFF;
      outline: none;
      border: none;
      border-radius: 27px;
      line-height: 100%;
    }

    input::placeholder {
      font-size: 18px;
      color: #0D030E;
    }
  }

  &__input-wrap:nth-child(2) {
    margin: 0 15px;
  }

  &__textarea-wrap {
    margin: 0 0 10px 0;
    height: 101px;

    textarea {
      padding: 16px 15px;
      border: 1px solid #944CA287;
      width: 100%;
      height: 100%;
      background-color: #D3CAFF;
      outline: none;
      border: none;
      border-radius: 27px;
      resize: none;
    }

    textarea::placeholder {
      font-size: 18px;
      color: #0D030E;
    }
  }

  &__box {
    margin: 15px 0 34px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    color: #944CA2;
    cursor: pointer;
  }

  &__check {
    position: relative;
    display: block;
    margin: 0 10px 0 0;
    max-width: 18px;
    min-width: 18px;
    max-height: 18px;
    min-height: 18px;
    border-radius: 4px;
    border: 1px solid #944CA2;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 2px;
      width: 12px;
      height: 9px;
      background-image: url("../images/dest/icons/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0;
      transition: linear .1s;
    }
  }

  &__btn {
    outline: none;
    border: none;
    cursor: pointer;
  }
}

/*end leave-review=============*/
/*end product-card================*/


/*start all-news===========*/
.all-news {
  background-image: url("../images/dest/content/page-before.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -24% 71%;

  &__inner {
    padding: 6px 0 170px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 30px -15px;
    flex-wrap: wrap;

    li {
      flex-basis: calc(33.33333% - 15px);
      margin: 0 0 20px 15px;
      border: 3px solid transparent;
    }
  }
}

/*end all-news===========*/

/*start articl================*/
.articl {
  padding: 10px 0 85px;
  background-image: url("../images/dest/content/page-before.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -24% 71%;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 100%;
  }

  &__img {
    position: relative;
    margin: 0 0 30px 0;
    height: 525px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__date {
    padding: 6px 22px;
    position: absolute;
    top: 18px;
    color: #fff;
    font-size: 32px;
    background-color: #8374D5;
  }

  &__body {
    padding: 35px 40px 25px 40px;
    background-color: #fff;

    h3 {
      margin: 0 0 13px 0;
      font-family: 'Caviar Dreams';
      font-size: 30px;
      font-style: italic;
    }

    h4 {
      margin: 0 0 30px 0;
      font-size: 23px;
      font-weight: 500;
      color: #944CA2;
    }

    p {
      margin: 0 0 21px 0;
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__line {
    margin: 0 0 10px 0;
    display: block;
    height: 1px;
    width: 60px;
    background-color: #944CA2;
  }



  aside {
    margin: 0 0 0 15px;
    max-width: 415px;
    width: 100%;

    li {
      margin: 0 0 30px 0;
    }

    .card-universal__date {
      font-size: 20px;
    }
  }
}

/*end articl================*/

/*start about==================*/
.about-title {
  margin: 44px 0 -11px;

  span {
    top: 7px;
    right: -4px;
  }
}

.about {
  padding: 10px 0 45px;
  background-image: url("../images/dest/content/page-before.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -24% 71%;

  &__img {
    margin: 0 0 30px 0;
    height: 532px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__box {
    padding: 33px 30px 23px 40px;
    background-color: #fff;

    p {
      margin: 0 0 25px 0;
      font-size: 18px;
      line-height: 25px;
    }
  }
}

/*end about==================*/

/*start service-experts*/
.service-experts {
  margin: 13px 0 20px;

  &__img {
    margin: 0 0 30px 0;
    height: 530px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__box {
    padding: 37px 37px 40px 37px;
    background-color: #fff;
  }

  &__line {
    margin: 0 0 10px 0;
    display: block;
    height: 1px;
    width: 60px;
    background-color: #944CA2;
  }

  h3 {
    margin: 0 0 24px 0;
    font-family: 'Caviar Dreams';
    font-size: 30px;
    font-style: italic;
  }

  p {
    margin: 0 0 55px 0;
    font-size: 18px;
    line-height: 25px;
  }

  &__price {
    font-size: 40px;
    font-family: 'Caviar Dreams';
  }
}

/*end service-experts*/

/*start service-experts===========*/
.date {
  margin: 0 0 20px 0;

  &__inner {
    padding: 59px 24px 10px 52px;
    background-color: #fff;
  }

  &__title {
    color: #0D030E;

    span {
      right: 82px;
      top: 13px;
    }
  }

  &__info {
    margin: -6px 0 22px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 -15px;
    flex-wrap: wrap;


    li {
      padding: 10px 10px 10px 10px;
      align-items: center;
      flex-basis: calc(14.2857142% - 15px);
      margin: 0 0 15px 15px;
      border: 1px solid #944CA2;
      cursor: pointer;
    }

    strong {
      display: block;
      font-size: 23px;
      line-height: 25px;
      text-transform: inherit;
      text-align: center;
      font-weight: 500;
    }

    span {
      display: block;
      font-size: 14px;
      line-height: 25px;
      text-transform: uppercase;
      text-align: center;
    }

    li.date-active {
      color: #fff;
      background-color: #944CA2;
    }

    li.date-busy {
      pointer-events: none;
      color: #fff;
      background-color: #DDDDDD;
      border: 1px solid #DDDDDD;
    }
  }
}

.time {
  margin: 0 0 20px 0;

  &__inner {
    padding: 36px 24px 47px 39px;
    background-color: #fff;
  }

  &__title {
    color: #0D030E;

    span {
      display: block;
      right: 72px;
      top: 13px;
    }
  }

  &__info {
    margin: -6px 0 22px;
  }

  &__list {
    padding: 10px 5px 12px;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 45px -15px;
    flex-wrap: wrap;
    border: 1px solid #944CA2;

    li {
      padding: 10px 10px 10px 10px;
      align-items: center;
      flex-basis: calc(11.11111% - 15px);
      margin: 0 0 5px 15px;
      border: 1px solid transparent;
      cursor: pointer;

      span {
        display: block;
        text-align: center;
      }

      &:hover {
        border: 1px solid #944CA2;
      }

      span {
        white-space: nowrap;
      }
    }

    li.time-busy {
      pointer-events: none;
      color: #D3CAFF;
    }

    li.time-active {
      color: #fff;
      background-color: #944CA2;
    }
  }

  &__box {
    display: flex;
    justify-content: flex-end;
  }

  &__btn:first-child {
    margin: 0 35px 0 0;
    background-image: linear-gradient(to bottom, #D3CAFF 0%, #8374D5 50%, #8374D5 100%);

    &:hover {
      background-position: bottom center;
    }
  }
}

/*end service-experts===========*/

/*start expert-card==============*/
.expert-card {
  margin: 10px 0 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 560px;
    max-width: 560px;
    height: 555px;
    background: radial-gradient(circle, #ddbae8 0%, #ffffff 0%, #ddbae8 100%);

    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__right {
    padding: 20px 28px 10px 30px;
    margin: 0 0 0 15px;
    background-color: #fff;
    max-width: 840px;
    width: 100%;
  }

  &__right.show {
    .expert-card__text::before {
      display: none;
    }

    .expert-card__btn {
      display: none;
    }

    .expert-card__text {
      max-height: 100%;
    }

    .expert-card__bottom {
      margin: 45px 0 30px 0;
    }
  }

  &__name {
    font-family: 'Caviar Dreams';
    margin: 0 0 8px 0;
    font-size: 50px;
    line-height: 53px;
    font-weight: 700;
    font-style: italic;
  }

  &__info {
    margin: 0 0 15px 0;
    font-size: 16px;
    line-height: 19px;
    color: #944CA2;
  }

  &__text {
    margin: 0 0 5px 0;
    position: relative;
    max-height: 322px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom center;
    }
  }

  p {
    margin: 0 0 25px 0;
    font-size: 18px;
    line-height: 25px;
  }

  &__btn {
    display: block;
    margin-left: auto;
    font-size: 19px;
    line-height: 100%;
    color: #944CA2;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
  }

  &__bottom {
    margin: 45px 0 0 0;
    display: flex;

    strong {
      display: block;
      color: #944CA2;
    }

    span {
      margin: 0 0 0 25px;
      display: block;
    }
  }
}

.expert-service {
  margin: 0 0 20px 0;

  &__inner {
    padding: 35px 10px 35px 30px;

    background-color: #fff;
  }

  &__title {
    color: #0D030E;

    span {
      top: 15px;
      right: -45px;
    }
  }

  &__info {
    margin: 10px 0 30px;
  }

  .slick-slide {
    margin: 0 10px;
  }

  .card-universal__img {
    margin: 0 0 15px 0;
    height: 275px;
  }

  .card-universal__title {
    margin: 0 0 23px 0;
    height: 55px;
  }

  .card-universal p {
    margin: 0 0 52px 0;
    max-width: 390px;
    font-size: 18px;
    line-height: 25px;
    height: 145px;
  }

  .card-universal {
    border: 3px solid transparent;

    &:hover {
      border-color: #944CA2;
    }
  }
  .card-universal__link:hover{
    text-decoration: underline;
  }
  .next {
    right: 46px;
    top: -117px;
  }

  .prev {
    top: -114px;
    right: 10px;
  }
}

/*end expert-card==============*/








/*start footer=======*/
.footer {
  background-image: url("../images/dest/content/footer/footerBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;

  &__inner {
    padding: 35px 0 30px;
    display: flex;
    align-items: center
  }

  &__logo {
    width: 145px;
    height: 68px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__list {
    margin: 0 10px 0 55px;
    display: flex;

    li+li {
      margin: 0 0 0 45px;
    }

    li:last-child {
      display: none;
    }
  }

  &__user {
    margin: 0 55px 0 auto;
    font-size: 15px;

    span {
      margin: 0 10px 0 0;
    }
  }

  &__bottom {
    padding: 6px 0;
    border-top: 1px solid #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;

    ul {
      display: flex;
    }

    ul {
      margin: 0 30px 0 auto;

      li+li {
        margin: 0 0 0 20px;
      }
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
  }

}

/*end footer=======*/




@import "media";